{% extends "main.html" %}

{% block css %}
<style>
#simon-grid
{
    margin:auto;
    border:8px solid #BAA687;
    width:200px;
    height:200px;
}

#simon-grid .col
{
    width:100px;
    height:100px;
    margin:0;
    filter:brightness(20%);
}

#simon-grid .col img
{
    margin-top:25px;
    margin-left:25px;
    
}

#s1
{
    background:#0C0;
    
}

#s2
{
    background:#CC0;
}

#s3
{
    background:#C00;
}

#s4
{
    background:#00C;
}

#simon-grid .col.fading
{
    animation-name: brightness;
    animation-duration: 0.75s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes brightness {
  0% {
    filter:brightness(20%);
  }
  100% {
    filter:brightness(100%);
  }
}
</style>
{% endblock %}

{% block scripts %}
<script>
var pattern = "1234";
var input = "";
var flash_idx = 0;
var delay = 1000;
var timer = null;
var mode = "wait";

function light_on(idx)
{
    console.log("Lighting IDX", idx);
    $(".fading").removeClass("fading");
    $("#s"+idx).addClass("fading");
}

function flash()
{
    
    if (flash_idx < 0)
    {
        //console.log("PAUSED");
        return true;
    }
    
    if (! timer)
    {
        console.log("Setting timer");
        timer = window.setInterval(flash, delay);
        return true;
    }
    
    console.log("FLASH!");
    
    if (flash_idx >= pattern.length)
    {
        console.log("Pattern over");
        // Kill the flashing, its time for player input
        window.clearInterval(timer);
        timer = null;
        flash_idx = 0;
        mode = "input";
        return true;
    }
        
    light_on(pattern[flash_idx]);
    flash_idx++;
}

function clicked(num)
{
    if (mode != "input")
        return false;
        
    console.log("Clicked", num);
    console.log("Versus", pattern[input.length]);
    $("#s"+num).removeClass("fading");
    light_on(num);
}

$(document).ready(function (){
    $("#play").click(function (){
        flash();
        //$(this).prop("disabled", true);
    });
    
    $(".button").click(function (){
        clicked($(this).data("num"));
    });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
<h1>Simon</h1>

<div id="simon-grid">
    <div class="col button" id="s1" data-num="1"><img src="/assets/images/badges/keepers-3.png"></div><div class="col button" id="s2" data-num="2"><img src="/assets/images/badges/trackers-3.png"></div>
    <br>
    <div class="col button" id="s3" data-num="3"><img src="/assets/images/badges/artisans-3.png"></div><div class="col button" id="s4" data-num="4"><img src="/assets/images/badges/scholars-3.png"></div>
</div>

<div style="width:100%;margin-top:1em;" class="c">
<input class="big" type="button" value="Play" id="play">
</div>

</div>
{% endblock %}