{% extends "main.html" %}
{% load guild_ranks %}
{% load pokemon_lists %}

{% block css %}
{% if section == "teammates" %}
<style>
.teammate-edit
{
    width:100%;
    margin-top:0.25em;
}

.teammate-edit > div.col
{
    width:15%;
    text-align:center;
    min-height:60px;
}

.form
{
    display:none;
}

input
{
    padding:2px;
}

input, select
{
    width:95%;
    font-size:14pt;
}

input[type=submit]
{
    width:12em;
}
</style>
{% endif %}
{% if section == "reputation" %}
<style>
#rep input
{
    width:100%;
    text-align:center;
    font-size:14pt;
}

#rep input[type=submit]
{
    width:12em;
}
</style>
{% endif %}

{% if section == "favor" %}
<style>
input[name=earned], input[name=spent], input[name=favor]
{
    width:3em;
    text-align:center;
    font-size:14pt;
}

#team-flex #favor .value
{
    width:auto;
}
</style>
{% endif %}

{% if section == "chapters" %}
<style>
#preview
{
    text-align:center;
    border-top:2px solid #BAA687;
}

select
{
    width:50%;
}

.custom
{
    display:none;
}

.maxed
{
    display:none;
}
</style>
{% endif %}

{% if section == "meta" %}
<style>
input[name=earned], input[name=spent], input[name=favor]
{
    width:3em;
    text-align:center;
    font-size:14pt;
}

input, select
{
    font-size:14pt;
}
</style>
{% endif %}
{% endblock %}

{% block scripts %}
{% if section == "teammates" %}
<script>
$(document).ready(function (){
    $("select[name=species]").change(function (){
        var val = $(this).val();
        $(this).parent().parent().find(".pokemon-bubble").find("img").attr("src", "/assets/images/sprites/icons/"+val+".png");

        update_form_list();
    });

    $("input[name=status]").keyup(function (){
        var val = $(this).val();
        if (val.toLowerCase() == "active")
            $(this).parent().parent().find(".pokemon-bubble").removeClass("grayscale");
        else
            $(this).parent().parent().find(".pokemon-bubble").addClass("grayscale");
    });

    $("input[name=shiny-check]").change(function (){
        if ($(this).prop("checked"))
        {
            $(this).parent().parent().find(".pokemon-bubble").addClass("shiny");
            $(this).parent().find("input[name=shiny]").val("1");
        }
        else
        {
            $(this).parent().parent().find(".pokemon-bubble").removeClass("shiny");
            $(this).parent().find("input[name=shiny]").val("0");
        }
    });

    $("#delete-btn").click(function (){
        $("#delete-hidden").show();
    });

    update_form_list();
});

function update_form_list()
{
    console.log("Updating forms...");
    $(".form").hide();
    $("select[name=species]").each(function (){
        var current = $(this).val();

        if (FORMS[current])
        {
            var options = "";
            for (var form_idx in FORMS[current])
            {
                if (FORMS[current][form_idx] == $(this).parent().find("select[name=form]").data("current"))
                    options += "<option value='" + FORMS[current][form_idx] + "' selected>" + FORMS[current][form_idx] + "</option>";
                else
                    options += "<option value='" + FORMS[current][form_idx] + "'>" + FORMS[current][form_idx] + "</option>";
            }
            $(this).parent().find("select[name=form]").html(options);
            $(this).parent().find(".form").show();
        }
        else
            $(this).parent().find("select[name=form]").html("<option value=''>Standard</option>");
    });
}
</script>
{% endif %}
{% if section == "reputation" %}
<script>
$(document).ready(function (){
    $("#rep input").change(function (){
        render_badges();
    });

    render_badges();
});

function render_badges()
{
    var values = [];
    var letters = ["k", "t", "s", "a"]
    var ranks = {
        "k":["Initiate", "Preserver", "Warden", "Guardian"],
        "t":["Initiate", "Scout", "Explorer", "Adventurer"],
        "s":["Initiate", "Protégé", "Lector", "Professor"],
        "a":["Initiate", "Apprentince", "Adept", "Virtuoso"]
    };

    $("#rep input[name^=rep]").each(function (){
        var val = $(this).val();
        values.push(val);
    });

    $(".ranks img").each(function (){
        $(this).addClass("darkened");
        $("div[name^=title]").text("Unaffiliated");
    });

    for (var x = 0; x < 4; x++)
    {

        if (values[x] == 0)
            $("div[name=title-"+letters[x]+"]").text("Unaffiliated");
        else if (values[x] < 7)
        {
            $("div[name=title-"+letters[x]+"]").text(ranks[letters[x]][0]);
        }
        if (values[x] >= 7)
        {
            $("img[name="+letters[x]+"-1]").removeClass("darkened");
            $("div[name=title-"+letters[x]+"]").text(ranks[letters[x]][1]);
        }
        if (values[x] >= 15)
        {
            $("img[name="+letters[x]+"-2]").removeClass("darkened");
            $("div[name=title-"+letters[x]+"]").text(ranks[letters[x]][2]);
        }
        if (values[x] >= 99)
        {
            $("img[name="+letters[x]+"-3]").removeClass("darkened");
            $("div[name=title-"+letters[x]+"]").text(ranks[letters[x]][3]);
        }
    }
}
</script>
{% endif %}

{% if section == "favor" %}
<script>
$(document).ready(function (){
    $("input").change(function (){
        render_favor();
    });

    render_favor();
});

function render_favor()
{
    var earned = $("input[name=earned]").val();
    var spent = $("input[name=spent]").val();
    $("input[name=favor]").val(earned - spent);
}
</script>
{% endif %}
{% if section == "chapters" %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
function preview(da_url)
{
    var url = "http://backend.deviantart.com/oembed?url=" + da_url + "&format=jsonp&callback=?";
    console.log(url);
    $.getJSON(url, function (data){
        console.log(data)
        $("#preview").html("");

        if (data["thumbnail_url"])
            $("#preview").append("<img src='"+data["thumbnail_url"]+"'>");
        else if (data["html"])
            $("#preview").append("<div class='l'>"+data["html"]+"...</div>");
    });
}

$(document).ready(function (){
    $("select[name=submission]").change(function (){
        var task_id = $(this).find("option:selected").data("task-id");
        var deviation_id = $(this).find("option:selected").data("deviation-id");
        var custom_name = $(this).find("option:selected").data("custom-name");

        $("select[name=event_id]").val(task_id).change();
        $("select[name=deviation_id]").val(deviation_id);
        $("input[name=custom_name]").val(custom_name);
        preview($("select[name=deviation_id]").find("option:selected").data("da_url"));
    });

    $("select[name=deviation_id]").change(function (){
        preview($(this).find("option:selected").data("da_url"));
    });

    $("select[name=event_id]").change(function (){
        if ($(this).find("option:selected").val() == -100)
        {
            $(".custom").show();
        }
        else
        {
            $(".custom").hide();
            $("input[name=custom_name]").val("");
        }
    });

    //preview($("select[name=deviation_id]").find("option:selected").data("da_url"));
    $(".sortable").sortable({
        cursor: "grabbing",
        start: function( event, ui ) {
            ui.item.css("opacity", "0.8");
        },
        stop: function( event, ui ) {
            ui.item.css("opacity", "1");
        }
    });
    $(".sortable").disableSelection();
});
</script>
{% endif %}
{% if section == "inventory" %}
<script>
function preview(img)
{
    $("#preview").html("<img src='/assets/images/items/"+img+"'>");
}

$(document).ready(function (){
    $("select[name=item]").change(function (){
        preview($(this).find("option:selected").data("img"));
    });

    preview($("select[name=item]").find("option:selected").data("img"));
});
</script>
{% endif %}
{% if section == "meta" %}
<script>
$(document).ready(function (){
    $(".type-button").click(function (){
        $(".type-button").each(function (){
            $(this).removeClass("selected");
            $(this).addClass("grayscale");
        });
        var title = $(this).attr("title")
        $("#type-description").text("- " + title + " -");
        $("input[name=type]").val(title);
        $(this).addClass("selected");
        $(this).removeClass("grayscale");
    });

    $(".type-button.selected").click();
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="content">
<div class="outline-block">
{% if section == "team" %}
    <h1>Edit Team</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Team Name:</label><br>
        <input name="name" maxlength="100" value="{{team.name}}"><br><br>

        <label for="joined">Date Joined:</label><br>
        <input name="joined" value="{{team.joined|date:'Y-m-d'}}" maxlength="10"><br><br>

        <input type="submit" value="Save Changes">
    </form>
{% endif %}
{% if section == "teammates" %}
    <h1>Edit Teammates</h1>
    <form method="POST">
    {% csrf_token %}
    {% for poke in team.teammates.all %}
    <div class="teammate-edit l" id="pokemon-{{forloop.counter}}">
        <input type="hidden" name="id" value="{{poke.id}}">
        <div class="col">{{poke.bubble|safe}}</div>
        <div class="col">
            Name<br>
            <input name="name" value="{{poke.name}}" maxlength="80">
        </div>
        <div class="col">
            Species<br>
            {% pokemon_select poke.species %}
            <div class="form">
                Form<br>
                <select name="form" data-current="{{poke.form}}">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col">
            Gender<br>
            <input name="gender" value="{{poke.gender}}" maxlength="20">
        </div>
        <div class="col">
            Status<br>
            <input name="status" value="{{poke.status}}" maxlength="20">
        </div>
        <div class="col">
            Shiny<br>
            <input name="shiny-check" value="1" type="checkbox"{% if poke.shiny %} checked{% endif %}>
            <input name="shiny" value="{% if poke.shiny %}1{% else %}0{% endif %}" type="hidden">
        </div>
    </div>
    {% endfor %}
    <h1>New Teammate</h1>
    <div class="teammate-edit l" id="pokemon-new">
        <input type="hidden" name="new" value="">
        <div class="col">
            <div class="pokemon-bubble col"><img src="/assets/images/sprites/icons/-1.png" alt="Egg" title="Egg"></div>
        </div>
        <div class="col">
            Name<br>
            <input name="name" value="" maxlength="80">
        </div>
        <div class="col">
            Species<br>
            {% pokemon_select -1 %}
        </div>
        <div class="col">
            Gender<br>
            <input name="gender" value="" maxlength="20">
        </div>
        <div class="col">
            Status<br>
            <input name="status" value="Active" maxlength="20">
        </div>
        <div class="col">
            Shiny<br>
            <input name="shiny-check" value="1" type="checkbox">
            <input name="shiny" value="0" type="hidden">
        </div>
    </div>

    <h1>Finalize</h1>
    <div class="finalize l col">
        <div class="col" style="width:40%">Why are these values changing?</div>
        <div class="col" style="width:27%"><input name="why" type="text" value="" maxlength="80" class="l"></div>
        <div class="col" style="width:25%"><input type="submit" value="Save Changes"></div>
    </div>

    </form>

    <h1>Help</h1>
    <p class="l">Your Pokémon's status is meant to help others working with your team figure out if a Pokémon who would be around for a current task, as well as
    allowing for tracking of former teammates who may have appeared in past submissions to still show up in searches for that Pokémon.</p>

    <p class="l">You may set this status to anything you like such as "Retired", "Deceased", "Missing in Action", or anything else. Do note however, that if a team member
    isn't set to <b>"Active"</b>, they will appear grayed out on your team's page. If a Pokémon will no longer be on your team, adjust their status accordingly. Don't delete them!</p>

    <p>You can also delete pokémon or an entire team. These options are hidden by default to prevent accidental removal. <span class="jsLink" id="delete-btn">I need to delete a pokémon/team</span></p>

    <div id="delete-hidden" style="display:none">
    <h1>Delete Pokémon</h1>
    <p class="l">Please note that deleting a Pokémon removes it from the site entirely! THIS CANNOT BE UNDONE.</p>
    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete-pokemon">
    {% for poke in team.teammates.all %}
    <div class="teammate-edit c" id="pokemon-delete">
        <div class="col">{{poke.bubble|safe}}</div>
        <div class="col">
            Name<br>
            {{poke.name}}
        </div>
        <div class="col">
            Species<br>
            {{poke.species_name}}
        </div>
        <div class="col">
            DELETE<br>
            <input type="checkbox" name="delete" value="{{poke.id}}">
        </div>
    </div>
    {% endfor %}
    <div class="finalize c col">
        <div class="col" style="width:25%"><input type="submit" value="Delete Pokémon"></div>
    </div>
    </form>

    <h1>Delete Team</h1>
    <p class="l">Please note that deleting a Team removes it from the site entirely! THIS CANNOT BE UNDONE.</p>
    <form method="POST">
    <input type="hidden" name="action" value="delete-team">
    {% csrf_token %}
    <div class="finalize c col">
        <div class="col" style="width:50%"><input type="submit" value="Delete ENTIRE Team"></div>
    </div>
    </form>
    </div>

{% endif %}
{% if section == "reputation" %}
    <h1>Edit Reputation</h1>
    <div id="team-flex">
    <form method="POST" id="rep">
        {% csrf_token %}
        <div class="col name">Keepers</div>
        <div class="col rep"><input name="rep-k" value="{{team.rep_keepers}}" maxlength="2"></div>
        <div class="col ranks">{% rank_images "Keepers" team.rep_keepers %}</div>
        <div class="col title" name="title-k">{% rank "Keepers" team.rep_keepers %}</div>
        <br>
        <div class="col name">Trackers</div>
        <div class="col rep"><input name="rep-t" value="{{team.rep_trackers}}" maxlength="2"></div>
        <div class="col ranks">{% rank_images "Trackers" team.rep_trackers %}</div>
        <div class="col title" name="title-t">{% rank "Trackers" team.rep_trackers %}</div>
        <br>
        <div class="col name">Scholars</div>
        <div class="col rep"><input name="rep-s" value="{{team.rep_scholars}}" maxlength="2"></div>
        <div class="col ranks">{% rank_images "Scholars" team.rep_scholars %}</div>
        <div class="col title" name="title-s">{% rank "Scholars" team.rep_scholars %}</div>
        <br>
        <div class="col name">Artisans</div>
        <div class="col rep"><input name="rep-a" value="{{team.rep_artisans}}" maxlength="2"></div>
        <div class="col ranks">{% rank_images "Artisans" team.rep_artisans %}</div>
        <div class="col title" name="title-a">{% rank "Artisans" team.rep_artisans %}</div>
        <br><br>

        <h1>Finalize</h1>
        <div class="finalize l col">
            <div class="col" style="width:40%">Why are these values changing?</div>
            <div class="col" style="width:27%"><input name="why" type="text" value="" maxlength="80" class="l"></div>
            <div class="col" style="width:25%"><input type="submit" value="Save Changes"></div>
        </div>
    </form>
    </div>
{% endif %}
{% if section == "favor" %}
    <h1>Edit Favor</h1>
    <div id="team-flex">
    <form method="POST" id="favor">
        {% csrf_token %}
        <div class="col label">Earned</div> <div class="col value"><input name="earned" value="{{team.favor_earned}}" maxlength="3"></div>
        <br>
        <div class="col label">Spent</div> <div class="col value"><input name="spent" value="{{team.favor_spent}}" maxlength="3"></div>
        <br>
        <div class="col label">Remaining</div> <div class="col value"><input name="favor" value="{{team.favor}}" maxlength="3" readonly></div>
        <br><br>

        <h1>Finalize</h1>
        <div class="finalize l col">
            <div class="col" style="width:40%">Why are these values changing?</div>
            <div class="col" style="width:27%"><input name="why" type="text" value="" maxlength="80" class="l"></div>
            <div class="col" style="width:25%"><input type="submit" value="Save Changes"></div>
        </div>
    </form>
    </div>
{% endif %}
{% if section == "chapters" %}
    <h1>Edit Chapters</h1>
    <form method="POST" id="chapters">
        {% csrf_token %}
        <label for="submission">Submission to Manage:</label><br>
        <select name="submission">
                <option value="NEW" data-task-id="N/A" data-deviation-id="N/A" data-custom-name="" selected>New Submission</option>
            {% for submission in submissions %}
                <option value="{{submission.id}}" data-task-id="{{submission.event.id}}" data-deviation-id="{{submission.deviation.id}}" data-custom-name="{{submission.custom_name}}">
                [{{submission.event.key}}] - {{submission.deviation.title}}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <label for="event">Chapter Task:</label><br>
        <select name="event_id">
            <option value="N/A" selected>- Select A Task -</option>
        {% for event in events %}
            {% ifchanged %}
                {% if event.key.0 == "c" %}
                <optgroup label="Chapter {{event.key.1}}"></optgroup>
                {% else %}
                <optgroup label="Supplemental"></optgroup>
                {% endif %}
            {% endifchanged %}
            <option value="{{event.id}}"{% if event.current_submitted >= event.max_submissions %} class="maxed"{% endif %}>
            [{{event.key}}] - {{event.name}} {% if event.max_submissions != 1 %}({{event.current_submitted}}/{{event.max_submissions}}){% endif %}
            </option>
        {% endfor %}
        </select>
        <br>
        <br>

        <div class="custom">
        <label for="custom_name">Custom Name:</label><br>
        <input name="custom_name" maxlength="80">
        <br><br>
        </div>
        <!--<input name="order" maxlength="4">-->

        <label for="deviation_id">Deviation:</label><br>
        <select name="deviation_id">
            <option value="N/A" selected>- Select A Deviation -</option>
        {% for deviation in deviations %}
            {% ifchanged %}
                <optgroup label="{{deviation.gallery.name}}"></optgroup>
            {% endifchanged %}
            <option value="{{deviation.id}}" data-da_url="{{deviation.da_url}}">{{deviation.title}}</option>
        {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="DELETE Chapter" name="method">
        <input type="submit" value="Save Chapter" name="method">

        {% if newbie %}
        <br>
        <p>Your team's first submitted chapter must be its team application. After the application has been set you'll be able to submit any chapter you wish.</p>
        {% endif %}

        <div id="preview">
        </div>
    </form>

    {% if submissions %}
    <h1>Rearrange Chapters</h1>
    <p>Drag and drop to rearrange the order your chapters will appear</p>
    <form method="POST" id="arrange-chapters">
        {% csrf_token %}
        <div class="sortable">
        {% for logbook in submissions %}
        {% if logbook.event.id not in reserved_ids %}
            <div class="logbook grabbable">
                <input type="hidden" name="logbook_id" value="{{logbook.id}}">
                <div class="col image"><img src="/assets/images/chapters/{{logbook.event.image}}"></div>
                <div class="col big name" style="line-height:65px">{{logbook.custom_name|default:logbook.event.name}}</div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <br>
        <input type="submit" value="Save Order" name="method">
    </form>
    {% endif %}


{% endif %}
{% if section == "inventory" %}
    <h1>Edit Team Inventory</h1>
    <form method="POST" id="inventory">
        {% csrf_token %}
        <label for="item">Item:</label><br>
        <select name="item">
            {% for item in items %}
            <option value="{{item.id}}" data-img="{{item.image}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <div id="preview" style="float:right;background:#BAA687;padding:0.5em;border-radius:0.5em;">
        </div>
        <br><br>
        <label for="action">Action:</label><br>
        <label><input type="radio" name="action" value="Add" checked> Add to team's inventory<label><br>
        <label><input type="radio" name="action" value="Remove"> Remove from team's inventory<label><br>
        <br><br>

        <h1>Finalize</h1>
        <div class="finalize l col">
            <div class="col" style="width:40%">Why are these values changing?</div>
            <div class="col" style="width:27%"><input name="why" type="text" value="" maxlength="80" class="l"></div>
            <div class="col" style="width:25%"><input type="submit" value="Save Changes"></div>
        </div>

    </form>
{% endif %}
{% if section == "meta" %}
    <h1>Edit Team Meta Data</h1>
    <form method="POST" id="meta" class="c">
        {% csrf_token %}
        <label for="type">Team Type</label><br>
        <div class="big c icons-div">
            <img class="type-button {% if team.type == 'Drawn' %}selected{% else %}grayscale{% endif %}" src="/assets/images/icons/drawn.png" alt="Drawn" title="Drawn">
            <img class="type-button {% if team.type == 'Written' %}selected{% else %}grayscale{% endif %}" src="/assets/images/icons/written.png" alt="Written" title="Written">
            <img class="type-button {% if team.type == 'Hybrid' %}selected{% else %}grayscale{% endif %}" src="/assets/images/icons/hybrid.png" alt="Hybrid" title="Hybrid">
            <br>
            <div id="type-description">- {{team.type}} -</div>
        </div>
        <input name="type" type="hidden" class="big c" value="{{team.type}}" maxlength="12" readonly>
        <br>
        <label for="cameos">Team Cameos</label><br>
        <select name="cameos">
            <option value="No"{% if team.cameos == "No" %} selected{% endif %}>No cameos</option>
            <option value="Ask"{% if team.cameos == "Ask" %} selected{% endif %}>Ask before cameoing</option>
            <option value="Non-Speaking"{% if team.cameos == "Non-Speaking" %} selected{% endif %}>Non-speaking Only</option>
            <option value="Yes"{% if team.cameos == "Yes" %} selected{% endif %}>Yes please!</option>
        </select>
        <br>
        <label for="tumblr">Team Tumblr</label><br>
        <input name="tumblr" type="text" class="l" value="{{team.tumblr}}" maxlength="200">
        <br>
        <label>Current Authors</label><br>
        {% for author in team.authors.all %}
            <a href="http://{{author.username}}.deviantart.com" target="blank">
                <div class="author-block big"><img src="{{author.icon}}">{{author.username|title}}</div>
            </a>
        {% endfor %}
        <label for="author">New Author</label><br>
        <input name="author" type="text" class="l" value=""><br>

        <input type="submit" value="Save Changes">

        <h1 class="l">Help</h1>
        <p class="l">When adding a new author, the account being added must have logged into the Tabiran Tome website at some point.</p>

        <p class="l">Please contact an administrator if you need to remove a user's access from a team.</p>
    </form>
{% endif %}
</div>
</div>
{% endblock %}
